/* You can add global styles to this file, and also import other style files */

.card-header {
  text-align: center;
  font-size: 30px;
}

.card-title {
  text-align: center;
}

.clickable:hover {
  cursor: pointer;
   transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -o-transition: 0.4s all;
  transform: scale(1.1);
}

.card-body {

}
